Segment_v2/logs/*
Segment_v2/experiment_results.csv
DatasetProcessing/synthetic_dataset_all/*
DatasetProcessing/synthetic_dataset_chm/*
DatasetProcessing/synthetic_dataset_rgb/*
DatasetProcessing/csv/*
DatasetProcessing/logs/*
DatasetProcessing/scripts/__pycache__/*
DatasetProcessing/Test/*
Graphviz/*
runs/*
Segment_v2/scripts/__pycache__/*
Segment_v2/src/__pycache__/*
Segment_v2/src/core/__pycache__/*
Segment_v2/src/data/__pycache__/__init__.cpython-39.pyc
Segment_v2/src/data/__pycache__/datasets.cpython-39.pyc
Segment_v2/src/data/__pycache__/transforms.cpython-39.pyc
Segment_v2/src/losses/__pycache__/__init__.cpython-39.pyc
Segment_v2/src/losses/__pycache__/soft_label_ce.cpython-39.pyc
Segment_v2/src/models/__pycache__/__init__.cpython-39.pyc
Segment_v2/src/models/__pycache__/segmentation.cpython-39.pyc
Segment_v2/src/utils/__pycache__/__init__.cpython-39.pyc
Segment_v2/src/utils/__pycache__/email_util.cpython-39.pyc
Segment_v2/src/utils/__pycache__/metrics.cpython-39.pyc
ultralytics-main/*
Segment_v2/src/__pycache__/__init__.cpython-39.pyc
yolo11n.pt
Segment_v2/src/__pycache__/__init__.cpython-39.pyc
Segment_v2/src/core/__pycache__/__init__.cpython-39.pyc
Segment_v2/src/core/__pycache__/predictor.cpython-39.pyc
Segment_v2/src/core/__pycache__/trainer.cpython-39.pyc
Segment_v2/scripts/__pycache__/auto_train.cpython-312.pyc
Segment_v2/src/data/__pycache__/datasets.cpython-312.pyc
Segment_v2/src/data/__pycache__/transforms.cpython-312.pyc
DatasetProcessing/src/__pycache__/__init__.cpython-312.pyc
DatasetProcessing/src/processing/__pycache__/__init__.cpython-312.pyc
DatasetProcessing/src/processing/__pycache__/background_black.cpython-312.pyc
DatasetProcessing/src/processing/__pycache__/convert.cpython-312.pyc
DatasetProcessing/src/processing/__pycache__/crop.cpython-312.pyc
DatasetProcessing/src/processing/__pycache__/split.cpython-312.pyc
DatasetProcessing/src/processing/__pycache__/stack_data.cpython-312.pyc
DatasetProcessing/src/utils/__pycache__/__init__.cpython-312.pyc
DatasetProcessing/src/utils/__pycache__/email_utils.cpython-312.pyc
DatasetProcessing/src/utils/__pycache__/file_io.cpython-312.pyc
staged_changes.diff
detectron2/*
Mask2Former/*
mmsegmentation/*
Segment_v2/config/experiments.yaml
Segment_v2/config/fusedRGB.yaml
Segment_v2/scripts/generate_experiments_yaml.py
